.tile {
    position: relative;
    left: 0px;
    right: 0px;
    float: left;
    clear: none;
    width: 10em;
    height: 10em;
    overflow: visible;
    margin: 1em 1em;
    padding: 0.5em 0.5em;
    background-color: yellow;
    cursor: default;
}

#title{
    font-weight: bold;
}

#text{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
}

body{
    font-family:arial,sans-serif;
    font-size:100%;
}
.input{
    border:0;
    background:none;
    outline:none;
    margin-top:10px;
    width:140px;
}

.input:focus{
    border:solid 1px lightgrey;
}

textarea{
    resize:none;
    height:90px;
}

.deleteBtn{
    visibility:hidden;
    float:right;
    margin:5px;
    font-size:14px;
    cursor:pointer;
    color:red;
    }
.tile:hover .deleteBtn{
    visibility: visible;
}